# {{ ansible_managed }}
# Snippet wird zusätzlich zur distro-default sshd_config geladen.
# AllowUsers-Direktiven aus mehreren Files werden von sshd zur effektiven
# Liste zusammengefasst — wir ergänzen `deploy` hier explizit, weil das
# Hardening-Setup von Session 10a in /etc/ssh/sshd_config nur `hwr` erlaubt.

Port {{ sshd_port }}
PermitRootLogin {{ sshd_permit_root_login }}
PasswordAuthentication {{ sshd_password_authentication }}
PubkeyAuthentication {{ sshd_pubkey_authentication }}
AllowUsers hwr {{ deploy_user }}
ChallengeResponseAuthentication no
KbdInteractiveAuthentication no
UsePAM yes
X11Forwarding no
AllowAgentForwarding no
ClientAliveInterval 300
ClientAliveCountMax 2
MaxAuthTries 3
LoginGraceTime 30
